form {
  background-color: #41b883;
  min-width: 20%;
  color: rgb(245, 245, 245);
  padding: 50px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  position: relative;
  min-height: 300px;
  height: auto;
  gap: 10px;
}

form:hover {
  box-shadow: 1px 1px 1px 3px white;
}

form h3 {
  color: #fff;
}

label {
  font-weight: bold;
  cursor: text;
  color: #ffffff;
}

input {
  outline: none;
  border: none;
  padding: 4px;
  border-radius: 3px;
  background-color: antiquewhite;
}
input[type="submit"] {
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
  width: 70%;
  font-size: 1em;
  font-weight: bolder;
  align-self: center;
  background-color: #fff;
  color: #41b883;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
input[type="submit"]:hover {
  border: 1px solid #ffffff;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="date"] {
  margin-top: 20px;
  width: 50%;
}

select option:hover {
  color: #5e7cdb;
}

.tittleModalidade {
  align-self: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.hide {
  display: none;
}
