form {
  background-color: #5e7cdb;
  min-width: 20%;
  color: rgb(245, 245, 245);
  padding: 50px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 20%;
  position: relative;
  min-height: 300px;
  height: auto;
  transition: 0.7s ease-in-out;
}

form:hover {
  box-shadow: 1px 1px 1px 3px #5e7cdb;
}

form h3 {
  color: #fff;
}

label {
  font-weight: bold;
  cursor: text;
  color: #ffffff;
}

.single-input {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.single-input label {
  position: absolute;
  font-size: 1em;
  font-weight: bolder;
  width: 100%;
  left: 5px;
  bottom: 4px;
  color: #5e7cdb;
  cursor: text;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.single-input input {
  width: 100%;
  padding: 5px;
  background-color: rgb(245, 245, 245);
  color: black;
  border: 0;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
}

.single-input input:focus {
  border-bottom: 3px solid greenyellow;
}
.single-input input:focus ~ label,
.single-input input:valid ~ label {
  transform: translateY(-28px);
  font-size: 12px;
  color: #ffffff;
  font-weight: bolder;
  opacity: 1;
}

input {
  outline: none;
  border: none;
  padding: 4px;
  border-radius: 3px;
}
input[type="submit"] {
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
  width: 70%;
  font-weight: bolder;
  align-self: center;
  background-color: #fff;
  color: #5e7cdb;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
input[type="submit"]:hover {
  border: 1px solid green;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="date"] {
  margin-top: 20px;
  width: 50%;
}

select option:hover {
  color: #5e7cdb;
}

.tittleModalidade {
  align-self: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.hide {
  display: none;
}
